/* Global Styles */
:root {
  --primary-color: #6200ea; /* Purple color */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.text-center {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: var(--primary-color); /* Purple background */
  color: #fff; /* White text */
}

.navbar a {
  color: #fff;
  margin: 0 1rem;
  transition: opacity 0.3s;
}

.navbar a:hover {
  opacity: 0.8;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000; /* Black text */
}


/* Profiles Page */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.6;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.profile-top img {
  width: 250px;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  align-items: center;
}

.post img {
  width: 100px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    padding: 1rem;
  }

  .navbar {
    padding: 1rem;
  }

  .navbar a {
    margin: 0 0.5rem;
  }

  .landing {
    height: 70vh;
  }

  .profile-grid {
    grid-template-columns: 1fr;
  }
}
